<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
           <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>    
    </div>
    <br/>
    <form action='/my-rings'  method='post' name='form-my-rings' class="form-horizontal" role="form" style="width: 75%;">
		<table>
		<% for(var i=1; i <= rings; i++) {%>
		   <tr>
		     <td>
		     	<div class="form-group">
		     		<label for="ringId<%= i %>" class="col-sm-6 control-label">Ring <%= i %> id :</label>
		     		<div class="col-sm-10">
            		<input type="text" class="form-control" id="ringId<%= i %>" name="ringId<%= i %>">
        			</div>
		     	</div>
		     </td>
		     <td>
		     	<div class="form-group">
			       	<label for="canalisation<%= i %>" class="col-sm-6 control-label">Ring <%= i %> location :</label>
			       	<div class="col-sm-10">
			       	<select class="form-control" id="canalisation<%= i %>" name="canalisation<%= i %>">
		       			<option value="sink">Sink</option>
			       		<option value="shower">Shower</option>
			       		<option value="wc">WC</option>
			       		<option value="dishwasher">Dish Washer</option>
			       		<option value="washer">WasherWasher</option>
			       		<option value="dryer">Dryer</option>
			       	</select>
			        </div>
		       </div>
		   	</td>
		   </tr>
		   <tr>
		   	<td>
		       <div class="form-group">
		     		<label for="floor<%= i %>" class="col-sm-6 control-label">Ring <%= i %> floor :</label>
		     		<div class="col-sm-10">
            		<input type="text" class="form-control" id="floor<%= i %>" name="floor<%= i %>">
        			</div>
		     	</div>
		     </td>
		     <td>
		       <div class="form-group">
		     		<label for="room<%= i %>" class="col-sm-6 control-label">Ring <%= i %> room :</label>
		     		<div class="col-sm-10">
            		<input type="text" class="form-control" id="room<%= i %>" name="room<%= i %>">
        			</div>
		     	</div>
		     </td>
		   </tr>
		<% } %>	
		</table>
      <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
              <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
              <! Will be used to display an alert to the user>
          </div>
      </div>		
    </form>
  </div>
</body>
</html>  