<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
    <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
           <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>    
    </div>
    <br/>
    <form action='/my-home'  method='post' name='form-my-home' class="form-horizontal" role="form" style="width: 50%;">
      <div class="form-group">
      	  <label for="typeHome" class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
      		  <select class="form-control" id="typeHome" name="typeHome">
			  	<option value="house">House</option>
			  	<option value="flat">Flat</option>
			  </select>
          </div>
      </div>
      <div class="form-group">
          <label for="floors" class="col-sm-2 control-label">Floors number</label>
          <div class="col-sm-10">
              <input type="number" class="form-control" id="floors" name="floors">
          </div>
      </div>
      <div class="form-group">
          <label for="rooms" class="col-sm-2 control-label">Rooms number</label>
          <div class="col-sm-10">
              <input type="number" class="form-control" id="rooms" name="rooms">
          </div>
      </div>
      <div class="form-group">
          <label for="rings" class="col-sm-2 control-label">Rings number</label>
          <div class="col-sm-10">
              <input type="number" class="form-control" id="rings" name="rings">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
              <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
              <! Will be used to display an alert to the user>
          </div>
      </div>
  </form>

  </div>
</body>
</html>  