<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
	  <div>	
	  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
	         <ul class="nav navbar-nav">
	        <li><a href="/">Home</a></li>
	        <li><a href="/about">About us</a></li>
	        <li><a href="/contact">Contact us</a></li>
	      </ul>
		</nav>		
		</div>	
		<div class="jumbotron"> 
			<p>Welcome to your home !</p>
			<p>Click <a href="/form-my-rings">here</a> to manage your rings !</p>
		</div>
	</div>
</body>
</html>